.landing-ibook__best-card {
  /* Tambahkan gaya khusus untuk kartu */
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.landing-ibook__best-image {
  /* Tambahkan gaya khusus untuk gambar */
  height: 200px;
  object-fit: cover;
}

.landing-ibook__best-body {
  /* Tambahkan gaya khusus untuk tubuh kartu */
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-ibook__best-button {
  /* Tambahkan gaya khusus untuk tombol */
  width: 100%;
}
